p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

body{
  font-family: Roboto, Arial;
  margin: 0px;
  padding-bottom: 125px;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 25px;
  background-color: rgb(247, 247, 247);
}